nav {
  height: 70px;
  padding: 0px 60px 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 33.4px rgba(0, 0, 0, 0.086);
}
#tag {
  display: flex;
  align-items: center;
  text-align: 16px;
}
#play {
  font-size: 24px;
  font-weight: 500;
  margin-left: 5px;
  color: #0eda3b;
}
#js {
  margin-top: 1rem;
  color: #0eda3b;
  margin-left: -5px;
  font-size: 20px;
}
#navs {
  display: flex;
  align-items: center;
}
#navs div {
  font-weight: 400;
  padding: 0 30px;
  color: #1a2f38;
  font-size: 16px;
}
#navs div:hover {
  text-decoration: underline;
  cursor: pointer;
}
#section {
  display: flex;
  justify-content: center;
}
#section_play_js {
  margin-top: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.086);
}
#play_icon {
  z-index: -1;
  margin-left: -60px;
}
#js_section {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0.8rem;
}

#play_section {
  font-size: 48px;
  font-weight: 700;
}

#left_play {
  margin-left: -3rem;
}
#right_play {
  float: right;
  margin-left: 104rem;
}
#center_placed {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
#center_line {
  height: 400px;
  width: 10px;
  background-color: #0eda3b;
  border-radius: 10px;
}
#section_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.space {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 45%;
}
.space span {
  margin-left: 30px;
  width: 90%;
}
.h2 {
  /* color: #1a2f38; */
  font-weight: 900;
  font-size: 32px;
  /* text-decoration: line-through; */
}
.space .right {
  margin-right: 30px;
  margin-left: 0px;
  /* text-align: right; */
}

.block {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #ecce83;
}

.icon {
  margin: 0px 30px 0px 30px;
  /* display: grid; */
  text-align: center;
  /* justify-content: center; */
  /* justify-self: center; */
}
.icon:hover {
  cursor: pointer;
}
.icon:hover div {
  text-decoration: underline;
}
.animateText {
  opacity: 0;
}
.card {
  background-color: #ffffff;
  /* opacity: 0; */
  /* padding: 20px 60px 20px 60px; */
  z-index: 1;
  text-align: center;
  cursor: pointer;
  width: 300px;
  position: 'absolute';
  border-radius: 10px;
  margin: 40px;
  grid-gap: 30px;
  transition: all 1s;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.git {
  margin-left: -400px;
}
.doci {
  margin-left: 400px;
}
.card p {
  color: #1b3038;
  font-weight: 500;
}
.card:hover p {
  text-decoration: underline;
}
.card:hover {
  margin-top: -20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.card2 {
  display: grid;
  /* align-self: flex-end; */
  height: 280px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  align-content: space-between;
}
.card:hover .card2 {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.cardimg {
  top: -170px;
  position: relative;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 1s;
}
.card:hover .cardimg {
  top: -150px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.links {
  display: flex;
}

.width {
  width: 80% !important;
}
.centerPlace3 {
  width: 80% !important;
}
.unhide2 {
  display: none !important;
}
@media (max-width: 960px) {
  .hide2 {
    display: none !important;
  }
  .text {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .hide {
    display: none;
  }
}
@media (max-width: 1000px) {
  #section_play_js {
    width: 70%;
  }
}
.centerPlace {
  justify-content: center;
}
.centerPlace2 {
  justify-content: flex-start;
}
@media (max-width: 960px) {
  .centerPlace {
    justify-content: center;
    margin: auto;
  }
  .centerPlace2 {
    justify-content: center;
  }
  .unhide2 {
    display: block !important;
  }
}
@media (max-width: 750px) {
  #section_play_js {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background-color: transparent;
  }
  #play_icon {
    z-index: -1;
  }
  .icon {
    margin: 0 10px 0 10px;
  }
  #navs div {
    padding: 0 10px !important;
  }
}
@media (min-width: 750px) {
  .unhide {
    display: none;
  }
}
