nav {
  height: 70px;
  padding: 0px 60px 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 33.4px rgba(0, 0, 0, 0.086);
}
#tag {
  display: flex;
  align-items: center;
}
#play {
  font-size: 36px;
  font-weight: 500;
  color: #0eda3b;
}
#js {
  margin-top: 0.7rem;
  color: #0eda3b;
  font-size: 24px;
}
#navs {
  display: flex;
  align-items: center;
}
#navs div {
  font-weight: 400;
  padding: 30px;
  color: #1a2f38;
  font-size: 18px;
}
#navs div:hover {
  text-decoration: underline;
  cursor: pointer;
}
#section {
  display: flex;
  justify-content: center;
}
#section_play_js {
  margin-top: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.086);
}
#play_icon {
  z-index: -1;
  margin-left: -60px;
}
#js_section {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0.8rem;
}

#play_section {
  font-size: 48px;
  font-weight: 700;
}

#left_play {
  margin-left: -3rem;
}
#right_play {
  float: right;
  margin-left: 104rem;
}
#center_placed {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
#center_line {
  height: 400px;
  width: 10px;
  background-color: #0eda3b;
  border-radius: 10px;
}
#section_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
#section_div .svg {
  width: 55%;
}
.space {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 45%;
}
.space span {
  margin-left: 30px;
  width: 90%;
}
.h2 {
  /* color: #1a2f38; */
  font-weight: 900;
  font-size: 32px;
  /* text-decoration: line-through; */
}
.space .right {
  margin-right: 30px;
  margin-left: 0px;
  /* text-align: right; */
}

.block {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #ecce83;
}

.icon {
  margin: 0px 30px 0px 30px;
  /* display: grid; */
  text-align: center;
  /* justify-content: center; */
  /* justify-self: center; */
}
.icon:hover {
  cursor: pointer;
}
.icon:hover span {
  text-decoration: underline;
}
.card {
  background-color: #ffffff;
  opacity: 0;
  padding: 20px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 40px;
  display: grid;
  grid-gap: 30px;
  transition: all 1s;
  height: 300px;
  position: absolute;
  margin-top: 200px;
  justify-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.git {
  margin-left: -400px;
}
.doci {
  margin-left: 400px;
}
.card p {
  color: #1b3038;
  font-weight: 500;
}
.card:hover p {
  text-decoration: underline;
}
.card:hover {
  margin-top: 170px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.card2 {
  display: grid;
  /* align-self: flex-end; */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  align-content: space-between;
}
.card:hover .card2 {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.cardimg {
  top: 150px;
  position: absolute;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 1s;
}
.card:hover .cardimg {
  top: 170px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
/* .first_screen {
  background-image: linear-gradient(
    90deg,
    rgba(223, 223, 223, 1) 0%,
    rgba(240, 244, 245, 1) 0%,
    rgba(181, 243, 255, 1) 100%
  );
} */
