body {
  margin: 0px;
  font-family: 'Poppins';
  overflow-x: hidden;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
.playground {
  background-color: rgba(27, 48, 56, 0.1);
  height: 300px;
  border-radius: 10px;
  margin: 5px !important;
}
.code {
  background-color: rgb(27, 48, 56);
  margin: 5px !important;
  height: 300px;
  border-radius: 10px;
}
.info {
  display: grid;
  align-content: center;
  height: 210px;
  padding: 30px;
}
.play-info {
  background-color: #ecce83b2;
  padding: 5px;
  border-radius: 5px;
  /* font-weight: */
}
.addBluish {
  color: #5394d4;
}
.exceptBlue {
  color: rgb(184, 184, 87);
}
.addBrownish {
  color: rgba(245, 38, 11, 0.685);
}
.exceptBlue input,
select {
  /* width: 50px; */
  background-color: rgb(50, 74, 83);
  color: rgb(224, 175, 175);
  border: 0px solid black;
  border-radius: 4px;
  border-bottom: 2px solid rgb(117, 59, 59);
  padding: 5px;
}
.exceptBlue input:focus {
  outline: none;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
  border-radius: 10px;
  table-layout: fixed;
  
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 200px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */
@media (max-width: 600px) {
  html {
    font-size: 14px !important;
  }
}
